.header-two{
    background: white;
}
.header-two .nav-area ul li a.main-menu{
    color: black;
}
.header-two .logo-area-start {
    flex-basis: 20%;
}
.swiper-pagination-bullett {
    width: 148px;
    height: 138px;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    border-color: #f9f9f9;
    /* opacity: 0.5; */
    /* background-size: cover; */
    /* background-position: center; */
    margin-right: 0;
    position: relative;
    z-index: 1;
}
.swiper-paginationn {
    display: flex;
    flex-direction: column;
    position: unset;
    gap: 25px;
    text-align: center;
    -webkit-transition: .3s opacity;
    -o-transition: .3s opacity;
    transition: .3s opacity;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10;
}
.logo img {
    width: 150px !important;
}
.one-offer{
    border-top: 1px solid #ddd;
    padding: 20px 0;
}
.one-offer h6{
    margin-bottom: 10px;
    font-size: 20px;
}
.one-offer p{
    margin-bottom: 10px;
}
.hidden{
    display: none !important;
}
.text-center{
    text-align: center !important;
}
.displayactive{
    display: block !important;
}
.nice-select{
    margin-bottom: 3rem !important;
}
.rts-brand-area .section-inner ul li{
    background: white;
}
#brandsSection .section-inner .wow img{
    width: 80%;
}
